.modalItem{
    background-color: whitesmoke;
    margin: 1vh;
    border-radius: 1vh;
    font-size: 2.3vh;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}
.price{
    color: rgb(78, 72, 72);
}
.frequencyContainer{
    border: 1px solid black;
    width: 5vh;
    height: 5vh;
    font: bold;
    text-align: center;
    font-size: 3vh;
    border-radius: 2px;
}