.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(86, 81, 81);
    padding: 20px;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50vw;
  }
  
  .OVERLAY{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: aqua;
    opacity: 0.7;
    z-index: 100;
  }

  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .closeButton {
    margin-top: 10px;
    margin-right: 3vh;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .closeButton:hover {
    background-color: #3E8E41;
  }

  .totalContainer{
    background-color: rgb(223, 218, 157);
    margin: 1vh;
    border-radius: 1vh;
    font-size: 2.3vh;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
  }
  